<div>
  <mat-toolbar class="bar">
    <mat-toolbar-row>
      <span>Handwriting digit recognition</span>
      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div id="cardCont" class="wrapper">
    <mat-card class="card">
      <mat-card-header class="card-title">
        <mat-card-title >
          <span style="color: #2794fa;">Write a number</span> 
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <div class="canvas" (mousemove)="mouseMove($event)"
          (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mouseleave)="mouseLeave($event)"
        >
          <canvas  id="mycanvas" width="250" height="250" style="border:1px solid #000000; background: black;"></canvas>        
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Size of line</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="6">6</mat-option>
              <mat-option value="7">7</mat-option>
              <mat-option value="8">8</mat-option>
              <mat-option value="9">9</mat-option>
              <mat-option value="10">10</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
        </div>
        <div>
          <button mat-raised-button class="group" color ="primary"  (click)="erase()">Clear</button>
          <button mat-raised-button class="group" color ="primary" (click)="create()">Guess</button>
        </div>
        <div class="text-cont">
          <h3>El numero adivinado es : {{selected}} </h3>
          <h3>La probabilidad es: {{selected}} </h3>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-toolbar class="footer bar" >
    <h4>Developed by Emanuel A. and Fabio Z.</h4>
    <span class="spacer"></span>
    <span style="padding-top:5px;">Visita nuestros repositorios</span>
    <div class="repo">
      <a href="https://github.com/fazd/handwritten-ui" target="__blank">
        <i class="icon-github icon-large icon"></i>
      </a>
      <a class="github-button" id="git-btn" href="https://github.com/fazd/handwritten-ui" data-icon="octicon-star" data-show-count="true" aria-label="Star fazd/handwritten-ui on GitHub">Star</a>
    </div>
    <div class="repo">
      <a href="https://github.com/fazd/handwritten-ui" target="__blank">
        <i class="icon-github icon-large icon"></i>
      </a>
      <a class="github-button" id="git-btn" href="https://github.com/ManuLasker/handwritten-digits-app" data-icon="octicon-star" data-show-count="true" aria-label="Star fazd/handwritten-ui on GitHub">Star</a>
    </div>
  </mat-toolbar>
</div>